@media only screen and (min-width: 1367px){
	.section1-anim,.section2-anim,.section3-anim,.section4-anim{padding: 0!important;font-size: 22px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 20%!important;}
}
@media only screen and (max-width: 1367px)
{
	.about-section h1{ font-size: 100px!important;}
	.section1-anim,.section2-anim,.section3-anim,.section4-anim{padding: 0!important;font-size: 22px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 20%!important;}
}
@media only screen and (max-width: 1060px)
{
	.top-info h1{text-align: center!important;width: 100%!important;}
	.about-section h1{width: 50%; font-size: 90px!important;}
	.check input{width: 6%!important;}
    .section1-anim,.section2-anim,.section3-anim, .section4-anim{padding: 0!important;font-size: 23px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 30%!important;}
}
@media only screen and (max-width: 992px)
{
	.service-block{margin-top: 350px!important;margin-bottom: 100px;width: 450px;}
	.service-block h3{font-size: 26px;font-weight: bold;}
	.service-block p{font-size: 20px;}	
	.bootstrap-select{left: 0!important;}
}

@media only screen and (max-width: 960px)
{
	.demo-cont__credits {width: 40%!important;}
	.footer_credits{bottom: 8%!important;left: 2%!important;}
	.fnc-nav__control {width: 120px!important;}
	.fnc-slide__content {position: absolute;left: 0!important;text-align: center; top: 15%;}
	.fnc-slide__heading-line{font-size: 48px!important;padding-top: 10px;}
	.fnc-slide__paragraph{font-size: 26px!important; text-align: center;padding: 30px!important;margin: 0!important;}
	.text-animation{font-size: 12px!important; text-align: center!important;}
    .section h1{font-size: 68px!important;width: 50%;padding-bottom: 40px;}
}
@media only screen and (min-width: 931px){.menu-btn{display: none;}}

@media only screen and (max-width: 930px) 
{
	.service-block{margin-top: 350px!important;margin-bottom: 100px;width: 320px;}
	.service-block h3{font-size: 23px;font-weight: bold;}
	.service-block p{font-size: 16px;}	
	.menu-btn{cursor: pointer;font-size: 30px; margin: 12px 0;background: none;border: 0px;right: 100px; position: absolute;}
	.navbar{background-color: white!important;}
	#myNavbar {padding-right: 100px;background-color: white!important;}	
	.navbar-toggle .icon-bar{background-color: black!important; margin-right: 150px!important;width: 30px; height: 3px; margin: 5px 0;}
	.navbar-header {float: none;}
  	.navbar-left,.navbar-right {float: none!important;}
  	.navbar-toggle {display: block;}
  	.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);max-height: 100vh!important; }
  	.navbar-fixed-top {top: 0;border-width: 0 0 1px;}
  	.navbar-collapse.collapse {display: none!important;}
    .navbar-nav {float: none!important;margin-top: 7.5px;}
	.navbar-nav>li {float: none;}
  	.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
  	.collapse.in{display:block!important;}
    .section1-anim,.section2-anim,.section3-anim,.section4-anim{padding: 0!important;font-size: 20px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 30%!important;}
}
@media only screen and (max-width:900px){#works-wrap{padding:79px 0 0}#works-wrap #works .work{width:33.3333%}}

@media only screen and (min-width: 768px)
{
	#budget{float: left;}
	textarea{float: left;}
	input{float: right;}
}
@media only screen and (max-width: 768px)
{	
	.map{width:640px!important;}
	.demo-cont__credits {width: 50%!important;}
	.footer_credits{bottom: 8%!important;left: 2%!important;}
	.fnc-nav__control {width: 100px!important; }
	.fnc-slide__content {position: absolute;left: 0!important;text-align: center; top: 15%;}
	.fnc-slide__heading-line{font-size: 39px!important;padding-top: 10px;}
	.fnc-slide__paragraph{font-size: 20px!important; text-align: center;padding: 30px!important;margin: 0!important;}
	.service-block{margin-top: 600px!important;margin-bottom: 100px;}
	.service-block h3{font-size: 23px;font-weight: bold;}
	.service-block p{font-size: 16px;}
	#margin-top:{width: 450px!important;}
	.bootstrap-select{width: 300px!important;}
	.contact-form-heading{font-size: 42px!important;}
	input{display: block;}
	.top-info h1{font-size: 60px!important;text-align: center!important;width: 100%!important;padding-top: 20%;}
	.text-animation{font-size: 7.6px!important; text-align: center!important;}
    .section h1{font-size: 46px!important;padding-bottom: 40px;}
    .about-section h1{font-size: 50px!important;}
    .dropdown a{color: white!important}
    #request_form .title {font: 24px/24px open sans!important;color: #fff;margin-bottom: 15px;}
	#request_form .title {font: 44px/44px open sans!important;color: #fff;margin-bottom: 25px;text-align: center;}
    .section1-anim,.section2-anim,.section3-anim,.section4-anim{padding: 0!important;font-size: 18px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 37%!important;}
}

@media only screen and (max-width:640px){#works-wrap{padding:74px 0 0}#works-wrap #works .work{width:100%}.map{width:510px!important;}}

@media only screen and (max-width: 510px)
{	
	.fnc-nav {width: 100%;}
	.demo-cont__credits {width: 74%!important;}
	.footer_credits{bottom: 16%!important;}
	.fnc-nav__control {width: 100px!important; }
	.fnc-slide__content {position: absolute;left: 0!important;text-align: center; top: 15%;}
	.fnc-slide__heading-line{font-size: 36px!important;padding-top: 10px;}
	.fnc-slide__paragraph{font-size: 18px!important; text-align: center;padding: 30px!important;margin: 0!important;}
	.fnc-slide__heading-line span {display: inline!important;}
	.service-block{margin-top: 500px!important;margin-bottom: 100px;}
	.service-block h3{font-size: 20px;font-weight: bold;}
	.service-block p{font-size: 14px;}
	.icons{font-size: 50px;}
	.map{width: 380px!important;}
	.contact-form-heading{font-size: 32px!important;}
	input{display: block;}
	.top-info h1{font-size: 45px!important;text-align: center!important;width: 100%!important;padding-top: 30%;}
	.section h1{text-align: center;}
	.text-animation{font-size: 5px!important; text-align: center!important;}
	.about-section h1{font-size: 42px;}
    .dropdown a{color: white!important}
    .section1-anim,.section2-anim,.section3-anim,.section4-anim{padding: 0!important;font-size: 17px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 40%!important;}
}

@media only screen and (max-width: 400px)
{
	.fnc-nav {width: 100%;}
	.demo-cont__credits {width: 100%!important;}
	.footer_credits{bottom: 15%!important;}
	.fnc-nav__control {width: 80px!important; }
	.fnc-slide__paragraph{font-size: 17px!important; text-align: center;padding: 30px!important;margin: 0!important;}
	.service-block{margin-top: 500px!important;margin-bottom: 100px;}
	.service-block h3{font-size: 16px;font-weight: bold;}
	.service-block p{font-size: 14px;}
	.icons{font-size: 50px;}
	.map{width: 310px!important;}
	.contact-form-heading{font-size: 32px!important;}
	input{display: block;}
	.box p{font-size: 20px!important;margin-bottom: 0!important;padding-bottom: 0!important;}
	.top-info h1{font-size: 40px!important;text-align: center!important;width: 100%!important;padding-top: 35%;}	
	.navbar-brand{font-size: 25px!important;padding:0!important;right: 0;bottom: 0;}
	.menu-btn{right: 0px!important; font-size: 20px;margin:8px;display: block!important;position: relative;}
	.text-animation{font-size: 3.9px!important; text-align: center!important;}	
	textarea{height: 90px!important;}
    .section h1{font-size: 42px!important;text-align: center!important;}
    .about-section h1{font-size: 42px!important;margin-left: 0!important;}
    .dropdown a{color: white!important}
    .section1-anim,.section2-anim,.section3-anim,.section4-anim{padding: 0!important;font-size: 16px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 50%!important;}
}
@media only screen and (max-width: 320px)
{
	.demo-cont__credits-heading{font-size: 40px!important;}
	.demo-cont__credits-name{font-size: 25px!important;}
	.demo-cont__credits {width: 320px!important;}
	.footer_credits{bottom: 15%!important;}
	.fnc-nav__control {width: 75px!important; }
	.fnc-slide__content {position: absolute;left: 0!important;text-align: center; top: 15%;}
	.fnc-slide__heading-line{font-size: 30px!important;}
	.fnc-slide__paragraph{font-size: 14px!important; text-align: center;padding: 30px!important;margin: 0!important;}
	.fnc-slide__heading-line span {display: block!important;}
	#request_form .title {font: 22px/22px open sans!important;color: #fff;margin-bottom: 15px;}
	.map{width: 300px!important;}
	.contact-form-heading{font-size: 32px!important;}
	input{display: block;}
	.box h2{font-size: 24px!important;margin-bottom: 0!important;padding-bottom: 0!important;}
	.box p{font-size: 16px!important;margin-bottom: 0!important;padding-bottom: 0!important;}
	.top-info h1{font-size: 35px!important;text-align: center!important;width: 100%!important;}	
	.navbar-brand{font-size: 25px!important;padding:0!important;right: 0;bottom: 0;}
	.overlay a{font-size: 22px;}
	.forkit{width: 160px;}
	.menu-btn{right: 0px!important; font-size: 20px;margin:8px;display: block!important;position: relative;}
	.text-animation{font-size: 3.9px!important; text-align: center!important;}	
    .section h1{font-size: 34px!important;text-align: center!important;}
    .about-section h1{font-size: 36px!important;margin-left: 0!important;}
    .section0-anim,.section1-anim,.section2-anim,.section3-anim,.section4-anim{padding: 0!important;font-size: 14px;margin: 0!important;}
    .section1-img,.section2-img,.section3-img,.section4-img{width: 40%!important;}
}
